:root {
    --black:     #000000;
    --my-orange: #804008;
    --my-dred:   #66120e;
    /* gruvbox colorscheme
     * background */
    --bg0-h:    #1d2021;
    --bg0-s:    #32302f;
    --bg0:      #282828;
    --bg1:      #3c3836;
    --bg2:      #504945;
    --bg3:      #665c54;
    --bg4:      #7c6f64;
    --gray:     #928374;
    /* foreground */
    --fg4:      #a89984;
    --fg3:      #bdae93;
    --fg2:      #d5c4a1;
    --fg1:      #ebdbb2;
    --fg0:      #fbf1c7;
    /* highlight */
    --dred:     #cc241d;
    --red:      #fb4934;
    --dgreen:   #98971a;
    --green:    #b8bb26;
    --dyellow:  #d79921;
    --yellow:   #fabd2f;
    --dblue:    #458588;
    --blue:     #83a598;
    --dpurple:  #b16286;
    --purple:   #d3869b;
    --daqua:    #689d6a;
    --aqua:     #8ec07c;
    --dorange:  #d65d0e;
    --orange:   #fe8019;
}

body {
    background-color: var(--bg0-h);
    color: var(--fg0);
    margin: auto;
    width: 50%;
}

.outline-3 {
    margin-left: 20px;
}

a {
    color: var(--green);
}

table {
    margin: auto;
    border: var(--bg3);
    width: 80%;
}

#site-name {
    margin: 0;
    padding: 0;
	color: var(--dblue);
}

.title {
	color: var(--dblue);
}

h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a {
    text-decoration: none;
	color: var(--blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--blue);
}

.timestamp {
	color: var(--fg3);
}

/* Navigation menu */
#menu {
    background: var(--bg1);
    border: 2px solid var(--bg1);
}

#menu a {
    text-decoration: none;
    color: var(--fg1);
    padding: 3px;
}

#menu a:hover {
    background-color: var(--bg3);
    color: ;
}

.right {
    float: right;
    margin: 0;
    padding: 0;
}

/* Table of contents */
#text-table-of-contents ul {
    list-style-type: none;
}

#text-table-of-contents a {
    text-decoration: none;
    color: var(--fg1);
}

/* Source code blocks */
.org-src-container {
    margin: 10px;
}

code {
    padding: 0px 3px;
}

pre, code {
    background-color: var(--bg1);
    font-size: 15px;
}

pre {
    padding: 10px 15px;
}

pre, pre span {
    overflow-x: auto;
    font-size: 15px;
}

/* Table formatting */
thead th, tbody td {
    margin: 25px;
    padding: 1px;
    min-width: 150px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid var(--bg3);
}

td.org-right {
    text-align: right;
}

thead th {
    text-align: center;
    background-color: var(--my-dred);
    border: 2px solid var(--my-dred);
}

tbody tr:nth-of-type(even) {
    background-color: var(--bg0);
}

tbody tr:last-of-type {
    border-bottom: 3px solid var(--bg3);
}

/* Scrollbar for Firefox */
* {
  scrollbar-color: var(--black) var(--my-orange);
  scrollbar-width: thin;
  scrollbar-gutter: auto;  /* does not work in firefox */
}

/* Scrollbar for Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--bg0);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 20px;
  border: 3px solid var(--my-orange);
}

/* Resize width based on screen size */
@media only screen and (max-width: 1650px) {
	body {
		width: 65%;
	}

@media only screen and (max-width: 1500px) {
	body {
		width: 70%;
	}
}

@media only screen and (max-width: 1300px) {
	body {
		width: 80%;
	}
}
