/* Custom faces */
.org-br-prompt {
    color: #8ec07c;
}

/* Default faces */
.org-builtin {
  /* font-lock-builtin-face */
  color: #fe8019;
}
.org-comment {
  /* font-lock-comment-face */
  color: #a89984;
  font-style: italic;
}
.org-comment-delimiter {
  /* font-lock-comment-delimiter-face */
  color: #a89984;
  font-style: italic;
}
.org-constant {
  /* font-lock-constant-face */
  color: #d3869b;
}
.org-doc {
  /* font-lock-doc-face */
  color: #a89984;
  font-style: italic;
}
.org-function-name {
  /* font-lock-function-name-face */
  color: #b8bb26;
}
.org-keyword {
  /* font-lock-keyword-face */
  color: #fb4934;
}
.org-negation-char {
  /* font-lock-negation-char-face */
  color: #dc322f;
}
.org-regexp-grouping-backslash {
  /* font-lock-regexp-grouping-backslash */
  color: #b58900;
}
.org-regexp-grouping-construct {
  /* font-lock-regexp-grouping-construct */
  color: #cb4b16;
}
.org-string {
  /* font-lock-string-face */
  color: #b8bb26;
}
.org-type {
  /* font-lock-type-face */
  color: #fabd2f;
}
.org-variable-name {
  /* font-lock-variable-name-face */
  color: #83a598;
}
.org-warning {
  /* font-lock-warning-face */
  color: #fabd2f;
  font-weight: bold;
}
